# Compiled Object files
*conhistory.txt

pc/nzp/source/fteqcc\.log

pc/nzp/qwprogs.lno

pc/nzp/qwprogs.dat

pc/nzp/csprogs.dat

pc/nzp/csprogs\.lno

pc/conhistory.txt

pc/nzp/iplog.txt

*.dat

# Map ignores
pc/nzp/maps/*.map
*.max
*.rmx
*.lin
*.log
*.p0
*.p1
*.p2
*.p3
*.prt
*.pts
*.wic
